.footer_container {
  .footer {
    display: flex;
    flex-direction: row;
    max-width: 1150px;
    margin: 0 auto;
    padding: 123px 20px 87px 20px;
    justify-content: space-between;
    .footer_block {
      font-size: 16px;
      .p_bold {
        font-family: Basic Sans;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
      }
      p {
        font-family: Noto Sans;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: center;
      }
    }
  }
}
@media (max-width: 820px) {
  .footer_container {
    .footer {
      flex-direction: column;
    }
  }
}
