/* .swiperNavigation {
  .swiperButtonPrev {
    position: absolute;
    top: 50%;
    left: 25%;
  }
} */
.container_slider {
  background-color: #f4f1eb;
}
.Swiper {
  background-color: #f4f1eb;
  max-width: 1346px;
  margin: 0 auto 88px;
}

.images {
  border-radius: 10px;
}
.imageSlide {
  width: "624px";
  height: "351px";
  border-radius: 10px;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 22%;
  right: auto;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 22%;
  left: auto;
}
@media (max-width: 950px) {
  .swiper-button-prev {
    left: 12%;
  }
  .swiper-button-next {
    right: 12%;
  }
}
@media (max-width: 500px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}
