.container_slider {
  background-color: #f4f1eb;
  padding-bottom: 88px;
}

.imageSlide {
  width: "610px";
  height: "397px";
  border-radius: 5px;
}

// .swiper-button-next,
// .swiper-rtl .swiper-button-prev {
//   right: 22%;
//   left: auto;
// }
// @media (max-width: 950px) {
//   .swiper-button-prev {
//     left: 12%;
//   }
//   .swiper-button-next {
//     right: 12%;
//   }
// }
// @media (max-width: 500px) {
//   .swiper-button-prev,
//   .swiper-button-next {
//     display: none;
//   }
// }
